{% load static %}
<footer id="footer" class="dark">
  <!-- Copyrights
			============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        <img src="{% static "images/footer-logo.png" %}" alt=""
        class="footer-logo"> NB! Сдавая машину к нам на ремонт клиент
        соглашается с нижеследующими условиями: В целях экономии времени и
        улучшения качества обслуживания у нас в мастерской действует система
        устной договорённости (в том числе и по телефону). Нашим гарантом
        сданной на ремонт машины является наличие оригинала или копии тех.
        паспорта, а актом о сдаче своевременно оплаченный клиентом счёт.
      </div>

      <div class="col_half col_last tright">
        <div class="copyrights-menu copyright-links fright clearfix">
          <a href="#">Главная</a>/<a href="#">About</a>/<a href="#">Услуги</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
        </div>
        <div class="fright clearfix">
			Copyrights &copy; 2020 All Rights Reserved by Reho Autoremont OÜ (Reg.Nr. 12682074).<br>
			<div class="clearfix">
				<div class="col_half">
					<address class="nobottommargin">
						<strong>Местонахождение:</strong><br>
							Madara 31, 10613<br>
							Kristiine, Tallinn <br>
					</address>
				</div>
				<div class="col_half col_last">
					<strong>Тел:</strong> (+372) 5530049<br>
					<strong>Тел:</strong> (+372) 5530052<br>
					<strong>Email:</strong> info@reho.ee
				</div>
			</div>
        </div>
      </div>
    </div>
  </div>
  <!-- #copyrights end -->
</footer>
